@model SGA.Models.Ldap

@{
    ViewData["Title"] = "Detalhes da configuração dos parâmetros LDAP";
}

<h2>Detalhes da configuração dos parâmetros LDAP</h2>

<div>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BindUser)
        </dt>
        <dd class="col-sm-9">
            @ViewBag.BindUser &nbsp;
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Domain)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Domain) &nbsp;
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Enable)
        </dt>
        <dd class="col-sm-9">
            @{
                String enable = "Ativo";
                if (Model.Enable != EnumSGA.Status.Enabled) { enable = "Inativo"; }
            }
            @enable
        </dd>
    </dl>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ChangeDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ChangeDate)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">
        <i class="fa fa-edit"></i> Editar
    </a>
</div>

