@model SGA.Models.Parameter

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="LogErrorPath" class="control-label"></label>
    <input asp-for="LogErrorPath" class="form-control" />
    <span asp-validation-for="LogErrorPath" class="text-danger"></span>
</div>

<div class="row">


    <div class="form-group col-md-4">
        <label asp-for="LogLevelApplication" class="control-label"></label>
        <select asp-for="LogLevelApplication" asp-items="@ViewBag.LogLevelApplication" class="form-control"></select>
        <span asp-validation-for="LogLevelApplication" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="LogsRetentionTime" class="control-label"></label>
        <input asp-for="LogsRetentionTime" class="form-control" />
        <span asp-validation-for="LogsRetentionTime" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="ItensPage" class="control-label"></label>
        <input asp-for="ItensPage" class="form-control" />
        <span asp-validation-for="ItensPage" class="text-danger"></span>
    </div>

</div>


<div class="row">
    <div class="form-group col-md-4">
        <label asp-for="AdminUser" class="control-label"></label>
        <input asp-for="AdminUser" value="@ViewBag.AdminUser" name="AdminUser" id="AdminUser" class="form-control" />
        <span asp-validation-for="AdminUser" class="text-danger"></span>
    </div>
    <div class="form-group col-md-8">
        <label asp-for="AdminPassword" class="control-label"></label>
        <input asp-for="AdminPassword" value="@ViewBag.AdminPassword" name="AdminPassword" id="AdminPassword" class="form-control" />
        <span asp-validation-for="AdminPassword" class="text-danger"></span>
    </div>
</div>

<hr />

<div class="row">
    <div class="form-group col-md-12">
        <label asp-for="ExclusionListAfastamento" class="control-label"></label>
        <input asp-for="ExclusionListAfastamento" class="form-control" />
        <span asp-validation-for="ExclusionListAfastamento" class="text-danger"></span>
    </div>
</div>

<hr />

<div class="row">
    <div class="form-group col-md-4">
        <label asp-for="ValidaUsuarioURL" class="control-label"></label>
        <input asp-for="ValidaUsuarioURL" class="form-control" />
        <span asp-validation-for="ValidaUsuarioURL" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="ValidaUsuarioUsername" class="control-label"></label>
        <input asp-for="ValidaUsuarioUsername" value="@ViewBag.ValidaUsuarioUsername" name="ValidaUsuarioUsername" id="ValidaUsuarioUsername" class="form-control" />
        <span asp-validation-for="ValidaUsuarioUsername" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="ValidaUsuarioPassword" class="control-label"></label>
        <input asp-for="ValidaUsuarioPassword" value="@ViewBag.ValidaUsuarioPassword" name="ValidaUsuarioPassword" id="ValidaUsuarioPassword" class="form-control" />
        <span asp-validation-for="ValidaUsuarioPassword" class="text-danger"></span>
    </div>

    <div class="form-group col-md-12">
        <label asp-for="ValidaUsuarioJson" class="control-label"></label>
        <input asp-for="ValidaUsuarioJson" class="form-control" />
        <span asp-validation-for="ValidaUsuarioJson" class="text-danger"></span>
        *Informar "UsuarioDoSistema" para o local que deve ser alterado pelo nome do usuário
    </div>

</div>

<div class="form-group" align="right">

    <br />
    <button class="btn btn-success" asp-action="Details" asp-route-id="1">
        <i class="fa fa-backward"></i> Voltar
    </button>
    &nbsp;&nbsp;
    <button type="submit" class="btn btn-success">
        <i class="fa fa-save"></i> Salvar
    </button>

</div>